# ???? ? ?? (Discord Developer Portal?? ??)
DISCORD_TOKEN=your_bot_token_here

# ? ?????? ????? ID
CLIENT_ID=your_client_id_here

# ???? ??(Guild) ID (???? ?? ?? ? ??)
GUILD_ID=your_guild_id_here

# ? ??? ??? ?? ID
TIER_1_CHANNEL_ID=your_1tier_channel_id
TIER_2_CHANNEL_ID=your_2tier_channel_id
TIER_3_CHANNEL_ID=your_3tier_channel_id
TIER_4_CHANNEL_ID=your_4tier_channel_id

# ???/???? ?? ?? ID (??)
LOG_CHANNEL_ID=your_log_channel_id

# ??? ??(Role) ID (??? ?? ??? ???? ?? ??)
ADMIN_ROLE_ID=
